<!DOCTYPE html>
<html>
<head>
  <title>Bookswap</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "stylesheets/bootstrap", media: "all" %>
  <%= stylesheet_link_tag "stylesheets/bootstrap-responsive", media: "all" %>
  <%= stylesheet_link_tag "stylesheets/custom", media: "all" %>
  <%= javascript_include_tag "jquery" %>

  <%= javascript_include_tag "javascripts/bootstrap" %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>

</body>
</html>
